{% load static %}
<html>
    <head>
        <title>Digital Locker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <style>
    
            *
            {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                
            }
        </style>
        <script>

        </script>
    </head>
    <body>
        <header class="bg-yellow-400 h-16 relative">
            <h1 class='text-5xl text-blue-900 float-left m-2'>Product Management Plateform</h1>
            <nav class=" absolute right-0 mt-6">
                <ul class="flex p-3 text-xl ">
                    <li class="mx-16"><a href="">Home</a></li>
                    <li class="mx-16"><a href="ProductView/">Product</a></li>
                    <li class="mx-16"><a href="#">Menu</a></li>
                    <li class="mx-16"><a href="#">Ragister</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <h1>ProductView</h1>
    </body>
</html>